{% include "header.html" %}
<body style="margin-top: 50px;">
 
 <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span3">
				</div>
				<div class="span6">
				{% if hint %}
 <h3>{{ hint }} </h3>
 {% endif %}
				</div>
				<div class="span3">
				</div>
			</div>
		</div>
	</div>
</div>
<form name="input" action="" method="get">

<table class="table table-hover table-condensed">
	<tr>
		<th>选择</th>
		<th>学生编号</th>
		<th>学生姓名</th>
	</tr>
{% for i in matrix %}
<tr>
  <td><input type="checkbox" name="box" value="{{ i.studentID }}" /></td>
  <td>{{ i.studentID }}</td>
  <td>{{ i.studentName }}</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="删除"  />
</form>

</body>
{% include "footer.html" %}