{% include "header.html" %}
<body style="margin-top: 50px;">
 <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span3">
				</div>
				<div class="span6">
					<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  	{% if hint %}
 <h4>{{ hint }} </h4>
 {% endif %}
</div>
			
				</div>
				<div class="span3">
				</div>
			</div>
		</div>
	</div>
</div>
<form name="input" action="" method="get">

<table class="table table-hover table-condensed">
	<tr>
		<th>选择</th>
		<th>班级编号</th>
		<th>教师姓名</th>
		<th>查看</th>
	</tr>
{% for i in matrix %}
<tr>
  <td><input type="checkbox" name="box" value="{{ i.classID }}" /></td>
  <td>{{ i.classID }}</td>
  <td>{{ i.teacher }}</td>
  <td><a href="{{ i.viewcourse }}"><img src="" alt="详细信息"></a></td>
</tr>
{% endfor %}
</table>
<input type="submit" value="删除"  />
</form>

</body>
{% include "footer.html" %}