{% include "header.html" %}
<body style="margin-top: 50px;">

<h3>所属课程状态</h3>
{% if hint %}<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>

 <h4>{{ hint }} </h4>

</div> {% endif %}
<table class="table table-hover table-condensed">
	<tr>
		<th>序号</th>
		<th>课程名</th>
		<th>课程号</th>
		<th>课程人数</th>
		<th>作业序号</th>
		<th>已交人数</th>
		<th>详细信息</th>
		<th>批改作业</th>
		<th>是否批改</th>
		<th>添加作业</th>
	</tr>
{% for i in matrix %}
<tr>
  <td>{{ i.classNum }}</td>
  <td>{{ i.courseName }}</td>
  <td>{{ i.courseID }}</td>
  <td>{{ i.population }}</td>
  <td>{{ i.assignmentNum }}</td>
  <td>{{ i.assignmentAmount }}</td>
  <td><!-- Button to trigger modal -->
<a href="#myModal{{ i.classNum }}" role="button" class="icon-pencil" data-toggle="modal">查看</a><!-- Icon glyphs图标没用 -->
<!-- Modal -->
<div id="myModal{{ i.classNum }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{ i.courseName }}第{{ i.assignmentNum }}次作业详情</h3>
  </div>
  <div class="modal-body">
    <p>{{i.txt}}</p>
  </div>
  <div class="modal-footer">
     <button class="button button-rounded button-flat" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div></td>
  <td><a href="{{ i.viewassignment }}"><i class="icon-pencil"></i>查看</a></td>
  <td>{{ i.finishPopu }}</td>
  <td><!-- Button to trigger modal -->
<a href="#myModaladd{{ i.classNum }}" role="button" class="icon-pencil" data-toggle="modal">添加</a>
 
<!-- Modal -->
<div id="myModaladd{{ i.classNum }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">添加{{ i.courseName }}课程作业</h3>
  </div>
  <div class="modal-body">
    <p> <form action="" method="post">
        <p>截止时间：将在<input type="text" class="input-small" style="display:inline;" placeholder="Day" name="day">天<input type="text" class="input-small" style="display:inline;" placeholder="Hour" name="day">小时后停止接收作业
		<p><input type="text" style="display:none;" name="classNum" value="{{ i.classNum }}">
        <p>详细要求：<textarea rows="5" style="display:inline;" placeholder="请在此输入作业的详细要求如：文件标题及格式规范等" name="txt"></textarea>
		<div class="modal-footer" style="background-color:#fff">
    <button class="button button-rounded button-flat" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button type="submit" class="button glow button-rounded button-flat-primary">添加</button>
  </div>
    </form></p>
  </div>
</div></td>
</tr>
{% endfor %}
</table>

</body>
{% include "footer.html" %}