{% include "header.html" %}
<body>
 <form action="" method="post">
        <p>用户名：<input type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
        <p>密码：&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-medium" type="password" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
		<p>姓名：&nbsp;&nbsp;&nbsp;&nbsp;<input  type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
		<p>邮箱：&nbsp;&nbsp;&nbsp;&nbsp;<input  type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
        <p>学生<input type="radio" class="input-medium"  name="role" checked="checked" value="student" />
	&nbsp;教师<input type="radio" name="role" value="teacher" />
        &nbsp;管理员<input type="radio" name="role" value="administrator" />
        <p><input type="submit" class="btn btn-primary" value="确定">
    </form>

	 <form action="" method="post">
        <p>课程号：<input type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
        <p>课程名：&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-medium" type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
    </form>
	
	 <form action="" method="post">
        <p>班号：<input type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
        <p>课程号：&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-medium" type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
		<p>教师号：&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-medium" type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
		<p>课程人数：&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-medium" type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
    </form>
	
	<form action="" method="post">
        <p>用户名：<input type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
        <p>课程号：&nbsp;&nbsp;&nbsp;&nbsp;<input class="input-medium" type="text" name=""> <p><input type="submit" class="btn btn-primary" value="确定">
    </form>

</body>
{% include "footer.html" %}